.drawer {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
  padding-top: 1rem;
  background-color: #121212;
  z-index: 999;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
  .actions {
    display: flex;
    align-items: center;
    width: 100%;
  }
  // box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.12);
}

.drawerItem {
  border-radius: 8px;
  background-color: #212121;
  width: 35px;
  height: 35px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 10px;
}

.documentListItem {
  margin: 10px 0;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.unstyled {
  outline: none;
  background: transparent;
  font: inherit;
  color: inherit;
  border: none;
  margin: 0;
  padding: inherit;
}
