@import "~antd/dist/antd.dark.css";
@import "./quill-task-list";

:root {
  --text-color: #f6f6f6c5;
}

* {
  font-family: "Roboto", sans-serif;
  line-height: 1.4 !important;
  letter-spacing: 0 !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #121212 !important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #212121 !important;
  }
}

html {
  font-size: 24px !important;
  font-family: "Roboto", sans-serif !important;
}

button {
  font-family: "Roboto", sans-serif !important;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

li {
  margin: initial;
}

body {
  background: #121212 !important;
  color: var(--text-color) !important;
  margin: 0;
  display: flex;
  width: 100%;
}

// Quill overwrite
.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.6);
}

.ql-container {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.drawer {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-top: 1rem;
  &:hover {
    opacity: 1;
  }
  .actions {
    display: flex;
    align-items: center;
    width: 100%;
  }
  // box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.12);
}

button {
  color: inherit;
}
